{% if trifed_var is empty %}
<p>Data not found.</p>
{% else %}
<table class="table">
<thead>
<tr>
	<th>{{ 'Sr. No.'|t }}</th>
	<th>{{ 'Title' }}</th>
	<th>{{ 'Unit' }}</th>
	<th>{{ 'Unit Name' }}</th>
	<th>{{ 'State Name' }}</th>
	<th>{{ 'Common Name' }}</th>
	<th>{{ 'Lab Name' }}</th>
</tr>
</thead>
<tbody>
{% set i=1 %}
{% for item in trifed_var %}
<tr>
	<td>{{ i }}</td>
	<td>{{ item.title }}</td>
	<td>{{ item.unit }}</td>
	<td>{{ item.unit_name }}</td>
	<td>{{ item.state_name }}</td>
	<td>{{ item.common_name }}</td>
	<td>{{ item.lab_name }}</td>
</tr>
{% set i=i+1 %}
{% endfor %}
</tbody>
</table>
{% endif %}
