{% if sio_var is empty %}
<p>Data not found.</p>
{% else %}
<table class="table nodal-implementing-agencies" id="siotableid">
<thead>
<tr>
	<th>{{ 'Sr. No.'|t }}</th>
	<th>{{ 'State/UT' }}</th>
	<th>{{ 'State Nodal Department' }}</th>
	<th>{{ 'State Implementing Agency' }}</th>
</tr>
</thead>
<tbody>
{% set i=1 %}
{% for key, value in sio_var %}
<tr>
	<td>{{ i }}</td>
	<td>{{ key }}</td>
	<td>{% for sndkey, sndval in value %} 
	{% if sndkey =='snd' %}
		{% for val in sndval %} 
		<span class="department"><b>{{ 'Department :' }} </b> {{ val.department_name }}</span><span class="name"><b>{{ 'Name :' }}</b> {{ val.name }}</span><span class="designation"><b>{{ 'Designation :' }}</b> {{ val.designation_name }}</span><span class="email"><b>{{ 'Email id :' }}</b> {{ val.email }}</span><span class="contact-no"><b>{{ 'Contact no :' }}</b> {{ val.mobile }}</span><span class="address"><b>{{ 'Address :' }}</b> {{ val.official_address }}</span>
		{% endfor %}	
	{% endif %}
    {% endfor %}
	</td>
	<td>{% for siokey, sioval in value %} 
	{% if siokey =='sio' %}
		{% for val in sioval %} 
		<span class="department"><b>{{ 'Department :' }} </b> {{ val.department_name }}</span><span class="name"><b>{{ 'Name :' }}</b> {{ val.name }}</span><span class="designation"><b>{{ 'Designation :' }}</b> {{ val.designation_name }}</span><span class="email"><b>{{ 'Email id :' }}</b> {{ val.email }}</span><span class="contact-no"><b>{{ 'Contact no :' }}</b> {{ val.mobile }}</span><span class="address"><b>{{ 'Address :' }}</b> {{ val.official_address }}</span>
		{% endfor %}	
	{% endif %}
    {% endfor %}   
	</td>
</tr>
{% set i=i+1 %}
{% endfor %}
</tbody>
</table>
{% endif %}